include LICENCE RELEASE-NOTES AUTHORS
include README.rst
include electrum-xazab.desktop
include *.py
include electrum-xazab
recursive-include packages *.py
recursive-include packages cacert.pem
graft debian

include contrib/requirements/requirements*.txt
include contrib/deterministic-build/requirements*.txt
include contrib/make_libsecp256k1.sh
include contrib/build_tools_util.sh

graft electrum_xazab
graft contrib/udev

exclude electrum_xazab/*.so
exclude electrum_xazab/*.so.0
exclude electrum_xazab/*.dll
exclude electrum_xazab/*.dylib

global-exclude __pycache__
global-exclude *.py[co~]
global-exclude *.py.orig
global-exclude *.py.rej
global-exclude .git
